.AppBar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2F699E;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.link {
    padding: 5px;
    color: white;
}
.activeLink {
    font-weight: bold;
    text-decoration: underline;
}