.link {
    padding: 5px;
    color: white;
}
.activeLink {
    font-weight: bold;
    text-decoration: underline;
}
.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}