.contactForm {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 250px;
	/* border: 1px solid #000; */
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	margin-bottom: 20px;
	align-items: center;
	font-size: 14px;
	background-color: #d9d9d9;
	-webkit-box-shadow: 5px 5px 50px 5px #000000;
	box-shadow: 5px 5px 50px 5px #000000;
}

.contactFormShowButton {
	background-color: transparent;
	height: 30px;
	width: fit-content;
	color: white;
	font-size: 14px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactLabel {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.contactFormInput {
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 14px;
	padding: 3px;
	color: #4d4d4d;
}

.contactValidationError {
	font-size: 12px;
	margin: 0;
	color: red;
}

.contactFormContainer {
	display: flex;
}

.contactFormSubmitButton {
	background-color: #4b78a8;
	height: 30px;
	width: max-content;
	color: white;
	padding: 0 10px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
}
